.box1{
    border-bottom: 2px solid black;
}

header{
    background-color: palevioletred;
}

.tituloSitio{
    display:flex;
    justify-content: center;
}

.tituloMenu{
    border: 1px solid black;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.linksMoviles{
    display: none;
}

.linksOrdenador{
    border: 2px solid black;
    width: 25%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.tituloSeccion1Ordenador{
    border: 1px solid black;
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    
}
.tituloSeccion1Moviles{
    display: none;
}

.imagen1{
    width: 20%;
}
.imagen2{
    width: 100%;
}
.imagen3{
    width: 100%;
}

@media (max-width: 1023px) and (min-width: 768px){ /*Para moviles*/
.box1{
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

header{
    background-color: palevioletred;
}

.tituloSitio{
    display:flex;
    justify-content: center;
}
.linksMoviles{
    display:flex;
    justify-content: space-evenly;
    padding-top: 5px;
}
.linksOrdenador{
    display: none;
}

.tituloMenu{
    display: none;
}

.link1{
    border-right: 2px solid gray;
    padding-right: 150px;
}
.link2{
    border-right: 2px solid gray;
    padding-right: 150px;
}
.link3{
    border-right: 2px solid gray;
    padding-right: 150px;
}

.tituloSeccion1Moviles{
    width: 100%;
}
.tituloSeccion1Ordenador{
    display: none;
}

.imagen1flex{
    display: flex;
    justify-content: center;
}
.texto1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 15px;
}
.seccion2{
    margin-top: 5px;
}
.texto2{
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: 10px;
}

.imagen3flex{
    display: flex;
    justify-content: flex-end;
}
.texto3{
    width: 300px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: 720px;
}

.imagen1{
    width: 500px;
}
.imagen2{
    width: 300px;
}
.imagen3{
    width: 300px;
}

.Autor3{
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 50px;
}

.listaFijada{
    background-color: palevioletred;
    border: 2px solid black;
    width: 60px;
    height: 80px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.moverLista{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 0px;
    bottom: 0px;

}
}
/* Estilos predeterminados para el párrafo */
p {
    font-size: 16px;
    color: black;
}